@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;500;600;700&display=swap');
@import "tailwindcss";

:root {
  --font-instrument-sans: 'Instrument Sans', sans-serif;
  --font-poppins: 'Poppins', sans-serif;

  --background: #F9F7EE;
  --foreground: #171717;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), var(--font-instrument-sans);
}